@model CreateGameFormViewModels
@{
    ViewData["Title"] = "Create";
}


<h6 class="display-6 my-2">
    <i class="bi bi-plus-circle-dotted"></i>
     Add a new game
</h6>

<form asp-controller="Games" asp-action="create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">

            <div class="form-group ">
                <label asp-for="Name" class="col-sm-2 col-form-label text-white"></label>
                <input asp-for="Name" type="text" class="form-control text-black" placeholder="Enter Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="form-group ">
                <label asp-for="CategoryId" class=" col-form-label text-white"></label>
                <select class="form-select" asp-for="CategoryId" asp-items="Model.Categories">  
                    <option >Select Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>


            <div class="form-group ">
                <label asp-for="SelectedDevices" class=" col-form-label text-white"></label>
                <select class="form-select" asp-for="SelectedDevices" asp-items="Model.Devices">
                    <option >Select Devices</option>
                </select>
                <span asp-validation-for="SelectedDevices" class="text-danger"></span>
            </div>



            <div class="form-group ">
                <label asp-for="Description" class=" col-form-label text-white"></label>
                <textarea asp-for="Description" class=" form-control" placeholder="Enter Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


             <div class="form-group ">
                <label asp-for="Cover" class="col-sm-2 col-form-label text-white"></label>
                <input asp-for="Cover" type="file" class="form-control text-black">
                <span asp-validation-for="Cover" class="text-danger d-block"></span>
                <small id="emailHelp" class="form-text text-muted">Only Files Allowed are .jpg , .png , .jpeg with max 1MG size  .</small>
            </div>


            <button type="submit" class="btn btn-success my-2"> Save</button>
        
        </div>
        <div class="col-6"></div>
    </div>
   
</form>




 

