@{
    ViewData["Title"] = "Games";
}

    <a  class="btn btn-info my-2" asp-controller="Games" asp-action="create">
        <i class="bi bi-plus-circle-dotted"></i>
        Add a new game 
    </a>


