@{
    ViewData["Title"] = "Games";
}

<div class="text-center">
    <h5 class="display-4">Welcome To Game Zone</h5>
     <a class="text-white"  asp-controller="Games" asp-action="Create">Create</a>


</div>