@model IEnumerable<Game>
@{
    ViewData["Title"] = "Games";
}

    <a  class="btn btn-info my-2" asp-controller="Games" asp-action="create">
        <i class="bi bi-plus-circle-dotted"></i>
        Add a new game 
    </a>

<div class="my-3">


    @if (!Model.Any())
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h4 class="alert-heading">Empty !</h4>
            <p class="mb-0">Sorry No Games Added Yet !</p>

        </div>
    }
    else
    {
        <div class="my-5">
           <table class="border table-bordered border-primary">
               <tbody>
                    @foreach (var game in Model)
                    {

                       <tr class="border-1 border-success">
                           <td>
                               <div class="d-flex">
                                  <div class="mx-2">
                                        <img alt="@game.Name" src="@($"{SettingsFile.ImagePath}/{game.Cover}")" style="max-width:300px ; max-height:300px" />
                                  </div>
                                  <div class="flex-md-column justify-content-center ">
                                      <h4 class="text-light">@game.Name</h4>
                                      <h5 class="text-light">@game.Category.Name</h5>
                                  </div>
                               </div>
                           </td>
                       </tr>
                    }
               </tbody>
           </table>

        </div>
    }




   





</div>


